
@media screen and (max-width: 680px) {
    table>tbody{
        font-size: 10pt;
    }
    svg{
        width: 4px !important;
        height: 4px !important;
    }
}
/* minimo de 960 px */
@media screen and (min-width: 960px) {
    .mainTitle{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px; 
    }
    .niveis{
        max-width: 80vw;
    }
}